<!DOCTYPE html>


<html>
  <a href="{{ url_for('loadPanel') }}" class="btn btn-light"> >Go to Admin Panel<</a>
  <a href="{{ url_for('signup') }}" class="btn btn-light"> >Go to Signup Page<</a>
  <a href="{{ url_for('login') }}" class="btn btn-light"> >Go to Login Page<</a>
  <a href="{{ url_for('login') }}" class="btn btn-light"> >Go to Home Page<</a>
<head>
  <meta charset="utf-8">
  <title>Admin Panel</title>
  <style>
    .daGrid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      grid-gap: 20px;
    }

    form {
      background-color: #fff;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }

    h2 {
      margin-top: 0;
    }
  </style>
</head>

<body>
  <h1>Admin Panel</h1>
  <h2>Welcome User!</h2>



<div class = "daGrid">

  <!-- Events table updating-->  
  <form method="POST" action="/events">

    
    <h2>Create Event</h2>

    <ul>
      <li><label for="title">Title:</label><input type="text" name="title" required></li>
      <li><label for="summary">Summary:</label><input type="text" name="summary" required></li>
      <li><label for="presenter">Presenter:</label><input type="text" name="presenter" required></li>
      <li><label for="place">Place:</label><input type="text" name="place" required></li>
      <li><label for="time">Time:</label><input type="text" name="time" required></li>
      <li><label for="date">Date:</label><input type="date" name="date" required></li>
      <li><label for="image_url">Image Link / Path:</label><input type="text" name="image_url" required></li>
  </ul>
    
    <button type="submit">Create Event</button>
  </form>

  


  <!-- Experimental, trying to reduce code repetition. 
  Goal is to use 1 block to select content that will be modified. 
  then dynamically update CRUD blocks to handle the selected content-->


  

  
  <form method="POST" action="/UPDATE">
    <h2>Update Event</h2>
    <input type="hidden" name="_method" value="PUT">
    <label for="title">Select Event:</label>
    <select name="title">
      {% for event in events %}
      <option value="{{ event.title }}">{{ event.title }}</option>
      {% endfor %}
    </select>
    <br>
    <ul>
      <li><label for="new_title">Title:</label><input type="text" name="new_title" required></li>
      <li><label for="summary">Summary:</label><input type="text" name="summary" required></li>
      <li><label for="presenter">Presenter:</label><input type="text" name="presenter" required></li>
      <li><label for="place">Place:</label><input type="text" name="place" required></li>
      <li><label for="time">Time:</label><input type="text" name="time" required></li>
      <li><label for="date">Date:</label><input type="date" name="date" required></li>
      <li><label for="image_url">Image Link / Path:</label><input type="text" name="image_url" required></li>
  </ul>
    <button type="submit">Update Event</button>
  </form>

  <form method="POST" action="/DEL">
    <h2>Delete Event</h2>
    <input type="hidden" name="_method" value="DELETE">

    <label for="title">Select Event:</label>
    <select name="title">
      {% for event in events %}
      <option value="{{ event.title }}">{{ event.title }}</option>
      {% endfor %}
    </select>
    <br>
    <button type="submit">Delete Event</button>
  </form>




</div>


<form method="GET" action="/load" id="load-form">
  <div>
    <h2>Load Content</h2>
    <label for="category">Select a category:</label>
    <select name="category" id="category">
      <option value="events">Load Events</option>
      <option value="users">Load User Accounts</option>
      <option value="news">Load News</option>
    </select>
    <br>
    <button type="submit">Load</button>
  </div>
</form>


<div class="edit-table">
  {% if events %}
    {% include 'events.html' %}
  {% elif staff %}
    {% include 'users.html' %}
  {% elif news %}
    {% include 'news.html' %}
  {% endif %}
</div>





</body>


<footer>
  <p><a href="/admin/log" >View Admin Log</a></p>
</footer>

</html>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{{ url_for('static', filename='scripts/adminPanel.js') }}"></script>
